
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;800&family=Yeseva+One&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background-image: url(/assets/Marble-texture-background.jpg);
  font-family: Dosis;
}

section {
  margin: 10px;
}

.presentation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.logo{
  display:flex;
  justify-content:center;
  align-items:center;
  height: 120px;
  width: 50px;
}

.global {
    position:absolute;
    width:180px;height:104px;
}

.detail {
    position:absolute;
    width:180px;height:104px;
}


.pivot1 {
    transform:rotate(60deg)
}

.pivot2 {
    transform:rotate(-60deg)
}


.detail {
    width:100%;height:100%;position:relative
}

span.one{
  position:absolute;
  width:8px;height:0%;
}

span.two{
    position:absolute;
    width:8px;height:0%;
}

.h1{left:0;
  animation: load1 2s ease-in-out forwards;
  /* background-color: rgb(7, 59, 71); */
  background: linear-gradient(to top,rgb(98, 151, 163) 5%, rgb(7, 59, 71) 95%);
  
}
.h2{right:0;
  animation: load2 2s ease-in-out 1.6s forwards;
  animation: load2 2s ease-in-out forwards;
  background-color: rgb(60, 109, 120);
  background: linear-gradient(rgb(7, 59, 71) 1%, rgb(60, 109, 120) 99%);
}
.h3{right:0;
  animation: load3 2s ease-in-out 3.2s forwards;
  animation: load3 2s ease-in-out forwards;
  background-color: rgb(98, 151, 163);
  background: linear-gradient(rgb(60, 109, 120) 1%, rgb(98, 151, 163) 99%);
}
.h4{right:0;
  animation: load4 2s ease-in-out 4.8s forwards;
  animation: load4 2s ease-in-out forwards;
  background-color: rgb(7, 59, 71);
  background: linear-gradient(rgb(98, 151, 163) 1%, rgb(7, 59, 71) 99%);
}
.h5{left:0;
  animation: load5 2s ease-in-out 6.4s forwards;
  animation: load5 2s ease-in-out forwards;
  background-color: rgb(49, 90, 99);
  background: linear-gradient(to top,rgb(7, 59, 71) 1%, rgb(60, 109, 120) 99%);

}
.h6{left:0;
  animation: load6 2s ease-in-out 8s forwards;
  animation: load6 2s ease-in-out forwards;
  background-color: rgb(98, 151, 163);
  background: linear-gradient(to top,rgb(60, 109, 120) 1%, rgb(98, 151, 163) 99%);

}

@keyframes load1 {
  0%{bottom:0;height:0}
  100%{bottom:0;height:100%}
}

@keyframes load2 {
  0%{top:0;height:0}
  100%{top:0;height:100%}
}

@keyframes load3 {
  0%{top:0;height:0}
  100%{top:0;height:100%}
}

@keyframes load4 {
  0%{top:0;height:0}
  100%{top:0;height:100%}
}

@keyframes load5 {
  0%{bottom:0;height:0}
  100%{bottom:0;height:100%}
}

@keyframes load6 {
  0%{bottom:0;height:0}
  100%{bottom:0;height:100%}
}

.txt {
    font-family: 'Yeseva One', cursive; 
    font-size: 140px;
    letter-spacing: -50px;
    text-indent: -50px;
    margin-right: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.perso {
  flex-basis: 50%;
  padding: 10px;
}


h1 {
  font-weight: 600;
  font-size: 70px;
}

h2 {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 40px;
  }

.perso h2 {
    padding-left: 0;
    padding-top: 10px;
    font-weight: 400;
  }

  .perso p {
    /* padding-left: 20px; */
    padding-top: 10px;
  }

/* section compétences */

.containercomp {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  justify-content: space-around;
  flex-direction: row;

}

.competenceli {
  display: inline-block;
  text-align: center;
  list-style-type: none;
  margin-left: 75px;
}

.competenceli::before {
  content: "\2B22";
  display: inline-block;
  margin-right: 5px;
  color: rgb(7, 59, 71);
  font-size: 0.7em;
}
.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: #cee0e4;
  box-shadow: 1px 1px 12px rgb(7, 59, 71);
  transform: preserve-3d;
  perspective: 2000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  justify-content: space-around;
  color: #000;
  margin: 15px;
}

.cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(98,151,163,1) 35%, rgba(7,59,71,1) 100%);
  background: linear-gradient(90deg,  rgba(98,151,163,1) 35%, rgba(7,59,71,0.296437324929972) 100%);
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: 0;
  box-shadow: 1px 1px 12px #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book:hover .cover {
  transition: all 0.5s;
  transform: rotatey(-80deg);
}

/* .titre {
  font-weight: bold;
} */


/* section projets */
.projet-list {
  list-style-type: none;
  /* max-width: 1100px;  */
  padding: 0 14px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  justify-content: center;
  gap: 25px;
}


.projet-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem;
}

@media screen and (max-width: 800px) {
  .presentation {
  display: flex;
  flex-direction: column;
  }

  .perso {
    flex-basis: auto;
  }

  /* .perso h2 {
    padding-left: 10px;
  }

  .perso p {
    padding-left: 20px;
  } */
}


